/* Container for dynamic timeline grid */
.timeline-content {
    outline: 1px solid black;

    width: 100vw;
    height: 100vh;
    /*width: min(100%, 3000px);*/
    /*height: min(100%, 1000px);*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Main grid container style */
.timeline-grid {
    text-align: center;

    flex: 0;
    display: grid;
    grid-template: repeat(10, minmax(200px, 200px)) / repeat(30, minmax(200px, 200px));
    resize: both;
}

/* Grid line style*/
.grid-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line, .vertical-line {
    position: absolute;
    background-color: #f9f9f9;
}

.horizontal-line {
    width: 100%;
    height: 1px;
}

.vertical-line {
    width: 1px;
    height: 100%;
}

/* Timeline plot general style */
.timeline-plot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #f0f0f0;
}

.timeline-plot:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

/* Selected and Unselected timeline plot point style */
.select {
    outline: 3px solid #7E54D9;
}

.select:hover , .deselect:hover {
    transform: scale(1.5);
}

/* Timeline entry style */
.timeline-entry {
    padding: 25px;
    background-color: #646cff;
}

/* Style for entry on hovering over grids */
.entry-hovering {
    outline: 1px solid black;
    border-radius: 100%;
    opacity: 0.33;
}