/* Header region container */
#header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* Container for view buttons */
#header-view-buttons {
    border: 1px solid black;
    padding: 1%;
    background-color: #2a2929;
    border-radius: 1%;

    position: fixed;
    top: 10%;

    width: max-content;
    display: flex;
    justify-content: center;
    gap:10px;
}

/* View button on select additional styling */
.view-select {
    outline: 4px auto -webkit-focus-ring-color;
}