/* Title, Date, Description container styling */
#description-container {
    width: 100%;
    height: auto;
    min-height: 50%;

    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: flex-start;
    align-items: center;
}

/* Title and Date take up 30% of space */
#description-container div {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}


/* Title styling */
.entry-title {
    width: 90%;
    height: auto;
    padding: 5px 5px 2px;

    background: transparent;
    color: black;
    border: 0 solid transparent;

    font-size: large;
    font-weight: bold;
    border-radius: 1%;
    text-align: center;
}


/* Date styling */
.entry-date {
    width: 90%;
    height: auto;
    padding: 1px 5px;

    background: transparent;
    color: black;
    border: 0 solid transparent;

    font-size: large;
    font-weight: lighter;
    font-style: italic;
    border-radius: 1%;
    text-align: center;
}


/* Description styling */
.entry-description {
    width: 90%;
    height: 80%;
    resize: none;
    padding: 5px;

    background: transparent;
    color: black;
    border: 0 solid transparent;

    font-size: medium;
    border-radius: 1%;
    text-align: left;
}


/* Hover and on Select additional style */
.entry-title:hover, .entry-title:focus,
.entry-description:hover, .entry-description:focus,
.entry-date:hover, .entry-date:focus {
    outline: 1px solid black;
}


/* Reduced interaction for EntryCard components */
.reduced-interaction .entry-title:focus,
.reduced-interaction .entry-date:focus,
.reduced-interaction .entry-description:focus,
.reduced-interaction .entry-title:hover,
.reduced-interaction .entry-date:hover,
.reduced-interaction .entry-description:hover {
    outline: 0 solid black;
}