/* Timeline Entry Card container including sidebar */
.timeline-card-container {
    position: fixed;
    right: 0;
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Timeline Entry Card style */
.card-container {
    height: 480px;
    width: 480px;
    padding: 10px;
    border: 3px solid black;
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
}

/* Hides Entry Card */
#hidden {
    display:none;
}


/* Image styling */
#image-container {
    width: 100%;
    height: auto;
    max-height: 50%;
}

.entry-image {
    width: 95%;
    height: auto;
    max-height: 95%;
    object-fit: cover;
    outline: 1px solid black;
    cursor: pointer;
}

#change-image {
    width: 0;
    height: 0;
    display: none;
}

/* Reduced interaction for EntryCard components */
.reduced-interaction .entry-image:hover {
    cursor: default;
}


/* Sidebar styling */
.arrow {
    width: 40px;
    height: 80px;
    /*background-color: #888888;*/
    background-color: rgba(65, 73, 210, 0.67);
    outline: 1px solid black;
    margin-left: 3px;
}

.arrow:hover {
    background-color: rgba(35, 41, 133, 0.67);
    filter: drop-shadow(0 0 1em #646cffaa);
}